@model IEnumerable<DWeb_MVC.Models.Compras>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Produtos</th>
            <th>Preço Total</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Email</td>
                <td>@item.ProdutosComprados</td>
                <td>@item.PrecoTotal.ToString("C")</td>
                <td>@item.QuantidadeTotal</td>
                <td>@item.DataCompra.ToString("g")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
