@model IEnumerable<DWeb_MVC.Models.Categorias>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Categoria</a>
</p>

@foreach (var grupo in Model.GroupBy(c => c.Grupos?.Nome))
{
    <h4 class="mt-4 text-primary fw-bold">@grupo.Key</h4>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nome da Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in grupo)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
