@model IEnumerable<DWeb_MVC.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Cores)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Tamanhos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)€
                </td>
                <td>
                    @foreach (var cat in item.Categoria)
                    {
                        <span>@cat.Nome</span>

                        <br />
                    }
                </td>
                <td>
                    @foreach (var cor in item.Cores)
                    {
                        <span>@cor.Nome</span>

                        <br />
                    }
                </td>
                <td>
                        @string.Join(", ", item.Tamanhos.Select(t => t.Nome))

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>
